body {
    font-family: 'Montserrat', sans-serif; /* Zmiana czcionki na Montserrat */
    background-color: #121212; /* Ciemne tło */
    color: #ffffff;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #1f1f1f; /* Trochę jaśniejsze tło */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1); /* Jaśniejszy cień */
}

.header {
    margin-bottom: 20px;
}

h1 {
    color: #ffffff;
    font-size: 32px; /* Trochę większy rozmiar nagłówka */
    font-weight: 700; /* Pogrubienie */
}

.form-container {
    margin-bottom: 20px;
}

.file-upload input[type="file"],
.submit-button input[type="submit"] {
    display: none;
}

.file-upload label,
.submit-button label {
    border: none;
    padding: 12px 24px; /* Trochę większy padding */
    border-radius: 6px; /* Lekko zaokrąglone rogi */
    background-color: #3f3f3f; /* Inny kolor przycisków */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    font-weight: 500; /* Średnie pogrubienie tekstu */
}

.file-upload label:hover,
.submit-button label:hover {
    background-color: #4f4f4f; /* Jasniejszy kolor przy najechaniu */
}

#result {
    margin-top: 20px;
}

/* Nowe stylowanie odnośników */
a {
    color: #ffffff; /* Biały kolor tekstu */
    font-family: 'Montserrat', sans-serif; /* Użycie tej samej czcionki co dla reszty tekstu */
    font-weight: 500; /* Średnie pogrubienie */
    transition: color 0.3s ease; /* Płynne przejścia koloru */
}

a:hover {
    color: #cccccc; /* Jasniejszy kolor przy najechaniu */
}

.text-input {
    text-align: center; /* Tekst wewnątrz div będzie wyśrodkowany */
    margin-top: 20px; /* Dodaj margines na górę */
}

.text-input input[type="text"] {
    display: inline-block; /* Aby pole tekstowe było w jednej linii z label */
    border: none;
    padding: 12px 24px; /* Trochę większy padding */
    border-radius: 6px; /* Lekko zaokrąglone rogi */
    background-color: #3f3f3f; /* Inny kolor tła */
    color: #ffffff;
    font-family: 'Montserrat', sans-serif; /* Zmiana czcionki */
    font-weight: 500; /* Średnie pogrubienie tekstu */
    transition: background-color 0.3s ease;
}

.text-input input[type="text"]:hover,
.text-input input[type="text"]:focus {
    background-color: #4f4f4f; /* Jasniejszy kolor przy najechaniu lub fokusie */
    outline: none; /* Usunięcie domyślnego obramowania */
}

.text-input input[type="text"]::placeholder {
    color: #ffffff; /* Kolor tekstu placeholdera */
    font-family: 'Montserrat', sans-serif; /* Zmiana czcionki placeholdera */
    font-weight: 500; /* Pogrubienie tekstu placeholdera */
    text-align: center; /* Wyśrodkowanie tekstu placeholdera */
    font-size: 16px; /* Rozmiar tekstu placeholdera */
}





